.footer{
    padding:20px 0 5px 0;
    background-color: #f8f9fa;
    position: relative;
    top: 85vh;
    .content{
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color:#0c970c;
    }
}